*{
	margin:0;
	padding:0;
}
#phone{
	width:320px;
	height:600px;
	background:#000;
	margin:50px auto;
}
.top{
	width:320px;
	height:23px;
	background:url(../images/1.png);

}
.title{
	width:320px;
	height:23px;
	background:url(../images/2.png);
	color:#fff;
	text-align:center;
	font-size:24px;
	font-weight:bold;

}
.singer{
	width:320px;
	height:40px;
	color:#fff;
	text-align:center;
	font-size:12px;
	line-height: 40px;
}
.play{
	width:190px;
	height:190px;
	background:url(../images/3.png);
	margin:auto;
	cursor:pointer;
	border-radius:50%;
}
.play.rotate{
    animation:rot 2s linear infinite;/*动画名称 动画执行时间 匀速运动 无限重复*/
}
 
@keyframes rot{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}/*CSS动画*/


.lrc{
	width:300px;
	height:285px;
	margin:20px auto;
	text-align:center;
	color:#fff;
	overflow:hidden;
	font-size:14px;
	line-height:20px;
}
.lrc #content{
	position:relative;
}
















